[Unit]
Description=Werminal server part
After=network.target

[Service]
Type=simple
Restart=always
User=danil
EnvironmentFile=/var/www/werminal/server/env
WorkingDirectory=/home/danil
ExecStart=/var/www/werminal/server/bin/app

[Install]
WantedBy=multi-user.target
